// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/animated';

// Variables
@import 'variables';

// Your variable overrides can go here, e.g.:
// $h1-font-size: 3rem;

// Bootswatch
@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";



.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.border-2 {
	border-width:2px!important;
}

.border-3 {
	border-width:3px!important;
}
.cursor-pointer{
	cursor: pointer;
}

code {
	color: #868e96!important;
}

.bg-light-hover:hover {
	background-color: #fcfcfc;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.border-bottom-rounded {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.form-control-clear {
	background-color: transparent!important;
	border:none;
}

.form-control-xl {
	height: calc(1.5em + 1rem + 2px);
	padding: 0.5rem 0;
	font-size: 2rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}
@media (max-width: 991.98px) {
	.form-control-xl {
		font-size: 1.5rem;
	}
}
@media (max-width: 767.98px) {
	.form-control-xl {
		font-size: 1.25rem;
	}
}
@media (max-width: 575.98px) {
	.form-control-xl {
		font-size: 1rem;
	}
}

.border-dark {
	border-color: #424242 !important;
}

.input-offscreen {
	position:absolute;
	top: -9999px;
	left:-9999px;
	z-index: -99;
}